<!--The content below is only a placeholder and can be replaced.-->
  <!--
    如果使用的是超链接方式==>每次请求都会从新刷新整个页面
    如果使用的是routerLink==>每次点击请求的路径就不会在此刷新去请求

  <nav>
    <li><a [routerLink]="['directory','id']">Directory</a></li>
    <li><a [routerLink]="['/']">Home</a></li>
  </nav>-->
  <!--<h1>
    Welcome to {{ title }}==>{{name}}!
  </h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--公共中间节点-->
<!--<app-home [person]="person" (onYell)="yell()"></app-home>-->

<!--调用导航组件-->
<app-navbar></app-navbar>

<section class="container">
  <!--路由-->
  <router-outlet></router-outlet>
</section>

